 <nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Russian News-Scraper</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/articles">Articles</a></li>
      <li><a href="/saved">Saved</a></li>
    </ul>
  </div>
</nav>
 <div class="jumbotron txt-center"><h1 class="text-center">Russian News-Scraper</h1>
 </div>
 <div>
     <h1 class="text-center">Scraped Articles</h1>
 </div>
<ul id="articles">
  {{#each articles}}
    {{#if this.saved}}
    {{else}}
  	<li class="listing">
  	   <p class="title"><strong>Title:</strong> {{this.title}}</p>
       <p><strong>Link:</strong> <a href="http://www.bbc.com/{{this.link}}" target="_blank">{{this.link}}</a></p>
       <p><strong>Summary:</strong> {{this.summary}}</p>
       <p><strong>Notes:</strong> 
        {{#if this.notes}}
            {{#each this.notes}}
            <button class="delete-articles-note-btn" data-id="{{this.id}}">x</button>{{this.body}}
            {{/each}}
        {{/if}}</p>
       <form>
        <textarea type="text" class="textAreaInput" action="/articles" name="noteForm" placeholder="Enter a note" method="post"></textarea> 
        <button type="submit" data-id="{{this._id}}" class="btn btn-success savenote">Submit Note</button>
        <button type="submit" data-id="{{this._id}}" class="btn btn-info save-btn">Save Article</button>
        <button type="submit" data-id="{{this._id}}" class="btn btn-danger delete-btn">Delete Article</button>
  	   </form>
    </li>
    {{/if}}
  {{/each}}
</ul>