 <nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Russian News-Scraper</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/articles">Articles</a></li>
      <li class="active"><a href="/saved">Saved</a></li>
    </ul>
  </div>
</nav>
<div class="jumbotron txt-center"><h1 class="text-center">Russian News-Scraper</h1>
</div>
<div>
    <h1 class="text-center">Saved Articles</h1>
</div>
<ul id="articles">
{{#each articles}}
  {{#if this.saved}}
  <li class="listing">
    <p class="title"><strong>Title:</strong> {{this.title}}</p>
    <p><strong>Link:</strong> <a href="http://www.bbc.com/{{this.link}}" target="_blank">{{this.link}}</a></p>
    <p><strong>Summary:</strong> {{this.summary}}</p>
    <div class="notes-display">
      <p><strong>Notes:</strong> 
        {{#if this.notes}}
            <div class="notes-div">
              {{#each this.notes}}
              <p><button class="delete-saved-note-btn" data-id="{{this.id}}">x</button>{{this.body}}</p>
              {{/each}}
            </div>
          {{/if}}
        </p>
     </div>   
    <form>
      <textarea type="text" class="textAreaInput" action="/saved" name="noteForm" placeholder="Enter a note" method="post"></textarea> 
      <button type="submit" data-id="{{this._id}}" class="btn btn-success savenote-saved">Submit Note</button>
      <button type="submit" data-id="{{this._id}}" class="btn btn-info unsave-btn">Unsave Article</button>
      <button type="submit" data-id="{{this._id}}" class="btn btn-danger delete-btn-saved">Delete Article</button>
    </form>
  </li>
  {{/if}}
{{/each}}
</ul>